@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
@font-face {
  font-family: 'Roboto-Light';
  font-style: normal;
  src: url('%sveltekit.assets%fonts/Roboto-Light.ttf') format('truetype');
}
}


